.footer {
  background: $faintblue;
  color: $white;
  text-align: center;
  padding: 2rem 1rem;

  .btn__footer {
    padding: 0;
    margin: .25rem .5rem;
  }

  p {
    font-family: $header-font;
    font-size: 0.8rem;
  }

  &__container {
    display: flex;

    &__info {
      display: flex;
      text-align: center;
      margin-bottom: 2.5rem;

      &__left {
        display: flex;
        width: 60vw;

        &__links {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem;

          span {
            font-family: $header-font;
            margin-bottom: 2rem;
            color: $white;
            font-weight: bold;

            img {
              width: 2.5rem;
              margin-bottom: -.25rem;
            }
          }
        }

        &__social {
          width: 50%;
          padding: 1rem;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }

      &__right {
        width: 40vw;

        &__map {
          max-width: 400px;
          width: 80%;
          max-height: 350px;
          height: 100%;
          margin: 0 auto;
          box-shadow: 1px 1px 2px $backgroundgrey,
                      -1px 1px 2px $backgroundgrey,
                      -1px -1px 2px $backgroundgrey,
                      1px -1px 2px $backgroundgrey;
        }
      }
    }
  }
}
