.navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $button-font;
  background: $white;
  box-shadow: 1px 1px 5px $backgroundgrey;
  padding: 0 2rem;
  height: 70px;
  transition: 0.2s;
  z-index: 90;

  &__hovertext {
    position: absolute;
    left: 125px;
    font-size: 0.85rem;
    opacity: 0;

    a {
      outline: none;
      text-decoration: none;
      color: $blue;
      opacity: .8;
      transition: .2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__animated {
    position: absolute;
    left: 40%;
    display: flex;
    justify-content: center;
    opacity: 0;

    &__line {
      height: 100px;
      width: 7px;
      transform: skew(-20deg);
      filter: opacity(0.6) blur(1px);
    }

    .blue {
      background: $blue;
    }
    .grey {
      background: $grey;
    }
    .lightblue {
      background: $lightblue;
    }
  }

  &__burger {
    display: none;
    position: absolute;
    right: 15px;
    cursor: pointer;

    .line {
      width: 25px;
      height: 5px;
      margin: 0.25rem;
      transition: 0.2s;
      transform-origin: left;

      &--top {
        background: $blue;
      }

      &--mid {
        background: $grey;
      }

      &--bottom {
        background: $lightblue;
      }
    }
  }

  &:hover {
    height: 100px;
  }

  &:hover .navbar__animated {
    animation: animated-slide 0.7s forwards 0.5s linear;
  }

  &:hover .navbar__hovertext {
    opacity: 1;
    transition: opacity 1.5s ease .5s;
  }

  &:hover .navbar__logo {
    width: 90px;
  }

  &__logo {
    width: 75px;
    transition: .2s;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    &__item {
      list-style: none;
      position: relative;

      &:first-of-type {
        display: none;
      }

      .navbar__link {
        text-decoration: none;
        color: $grey;
        transition: 0.15s;
        overflow-x: hidden;

        &:hover {
          color: $blue;

          &:after {
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              $blue,
              rgba(0, 0, 0, 0)
            );
            position: absolute;
            bottom: -2px;
            left: -100%;
            opacity: 0;
            animation: navlinks-bottom 0.1s linear forwards;
          }
          &:before {
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient(
              to left,
              rgba(255, 255, 255, 0),
              $blue,
              rgba(0, 0, 0, 0)
            );
            position: absolute;
            top: -2px;
            right: -100%;
            opacity: 0;
            animation: navlinks-top 0.1s linear forwards;
          }
        }
      }
    }

    .button {
      border: 1px solid $blue;
      font-size: 0.95rem;

      &:hover {
        color: $white;
        border: 1px solid $blue;
        background: $blue;
      }
    }
  }
}
