@import "config";
@import "animations";
@import "mobile";
@import "navbar";

@import "main";
@import "about";
@import "projects";
@import "contact";
@import "footer";

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100vw !important;
    background: $backgroundgrey;
}

.wrapper {
    overflow-x: hidden;
    max-width: 1536px !important;
    margin: 0 auto;
    box-shadow: 4px 4px 5px $grey,
                -4px -4px 5px $grey;
}

.loading__overlay {
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 100;
    animation: loading-overlay .3s forwards 2.8s;

    &__item {
        position: absolute;
        height: 100%;
        width: 12vw;
        min-width: 60px;
        transform: skew(5deg);
        left: -50%;
    }

    .blue {
        background: $faintblue;
        z-index: 3;
        animation: loading-overlay-blue 3s forwards;
    }

    .lightblue {
        background: $faintlightblue;
        z-index: 2;
        animation: loading-overlay-lightblue 3s forwards .05s;
        opacity: .9;
    }

    .grey {
        background: $faintgrey;
        z-index: 1;
        animation: loading-overlay-grey 3s forwards .075s;
        opacity: .7;
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    img {
        opacity: 0;
        width: 45vw;
        max-width: 250px;
        animation: loading-overlay-img 1.5s forwards 1s;
        z-index: 150;
    }
    h3 {
        opacity: 0;
        animation: loading-overlay-img 1.5s forwards 1.1s;
    }
}